<section id="projects">


    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" v-for="project in projects" :key="project.id">
            <div class="card">
                
                <div class="card-icon">
                    <img :src="'img/works/thumbs/' + project.thumb" class="img-fluid">
                </div>

                <div class="card-body">
                    <p class="card-title mb-2">{{ project.name }}</p>
                    
                    <div class="card-footer-icons">
                        <div class="d-flex gap-2">
                            <i v-if="project.platforms.android" class="bi bi-android bi-icon-android"></i>
                            <i v-if="project.platforms.ios" class="bi bi-apple bi-icon-ios"></i>
                            <i v-if="project.platforms.web" class="bi bi-browser-chrome bi-icon-web"></i>
                        </div>
                    </div>

                    <a class="btn mt-2" v-on:click="project.url">Ver más <i class="bi bi-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>

</section>

<script>
    app.mount("#projects");
</script>