<!-- Apps Projects -->
<section id="section-android-projects">
    <p class="project-title" id="title-android-projects"><b>Apps <span class="mdi mdi-apps"></span></b></p>
    <div id="android-projects" class="row">


        <div class="col-md-3" v-for="project in androidProjects">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="row-card-img"><img class="card-img" v-bind:src="'img/works/thumbs/' + project.thumb" /></div>
                    <div class="row" id="row-card-title"><div class="card-title">{{ project.name }}</div></div>
                    <div class="row" id="row-card-button"><div class="card-text text-center">
                        <a class="btn btn-outline-success" v-bind:onclick="project.url">Ver más</a>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Apps Projects -->



<!-- Android Projects -->
<section id="section-android-projects">
    <p class="project-title" id="title-android-projects">Proyectos <b>Android <span class="mdi mdi-android"></span></b></p>
    <div id="android-projects" class="row">


        <div class="col-md-3" v-for="project in androidProjects">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="row-card-img"><img class="card-img" v-bind:src="'img/works/thumbs/' + project.thumb" /></div>
                    <div class="row" id="row-card-title"><div class="card-title">{{ project.name }}</div></div>
                    <div class="row" id="row-card-button"><div class="card-text text-center">
                        <a class="btn btn-outline-success" v-bind:onclick="project.url">Ver más</a>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Android Projects -->

<!-- iOS Projects -->
<section id="section-ios-projects">
    <p class="project-title" id="title-ios-projects">Proyectos <b>iOS <span class="mdi mdi-apple"></span></b></p>
    <div id="iOS-projects" class="row">

        <div class="col-md-3" v-for="project in iOSProjects">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="row-card-img"><img class="card-img" v-bind:src="'img/works/thumbs/' + project.thumb" /></div>
                    <div class="row" id="row-card-title"><p class="card-title">{{ project.name }}</p></div>
                    <div class="row" id="row-card-button"><div class="card-text text-center">
                        <a class="btn btn-outline-success" v-bind:onclick="project.url">Ver más</a>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End iOS Projects -->

<!-- Web Projects -->
<section id="section-web-projects">
    <p class="project-title" id="title-web-projects">Proyectos <b>Web <span class="mdi mdi-web"></span></b></p>
    <div id="web-projects" class="row">


        <div class="col-md-3" v-for="project in webProjects">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="row-card-img"><img class="card-img" v-bind:src="'img/works/thumbs/' + project.thumb" /></div>
                    <div class="row" id="row-card-title"><div class="card-title">{{ project.name }}</div></div>
                    <div class="row" id="row-card-button"><div class="card-text text-center">
                        <a class="btn btn-outline-success" v-bind:onclick="project.url">Ver más</a>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Android Projects -->




<!-- Vue Scripts -->
<script src="index.js"></script>