<!-- CONTENT -->

<div id="data-imc" class="container">
  <section id="section-title">
    <div class="row">
      <div class="apps-title">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="card-availability">
        <div>
          <p>Plataforma y descarga</p>
        </div>
        <div class="card-availability-text"><a class="mdi mdi-android"></a>
          <p> Android</p><a class="mdi mdi-google-play store-button"
            href="https://play.google.com/store/apps/details?id=mx.gob.ssnl.imc" target="_blank"></a>
        </div>
        <div class="card-availability-text"><a class="mdi mdi-apple-ios"></a>
          <p> ios</p><a class="mdi mdi-apple store-button"
            href="https://itunes.apple.com/us/app/checa-tu-peso/id1415093520?ls=1&mt=8" target="_blank"></a>
        </div>
      </div>
    </div>
  </section>

  <section id="section-summary">
    <div class="row">
      <div class="summary">
        <p>{{ appType }}</p>
        <p>{{ summary }}</p>
      </div>
    </div>
  </section>

  <section id="section-images">
    <div class="container">
      <p class="screenshots-title">Screenshots Android</p>
      <div class="row">
        <div class="slick-carousel">
          <img v-for="imagen in carouselDroid" v-bind:src="'../img/works/full/imc/' + imagen.img" />
        </div>
      </div>

      <p class="screenshots-title">Screenshots iOS</p>
      <div class="row">
        <div class="slick-carousel">
          <img v-for="imagen in carouselIos" v-bind:src="'../img/works/full/imc/' + imagen.img" />
        </div>
      </div>
    </div>
  </section>
</div>

<!-- END CONTENT -->

<!-- Vue Script -->
<script src="apps/data.js"></script>

<!-- Slick config -->
<script type="text/javascript">
  $(document).ready(function () {

    $('.slick-carousel').slick({
      autoplay: true,
      arrows: true,
      dots: true
    });

  });
</script>